<div class="text-center m-auto mt-48">
  <h1 class="text-3xl font-bold mb-4">Welcome to Job Hunters</h1>
  <p class="text-gray-600 dark:text-gray-400 mb-8">A intuitive platform designed to help hunters find and apply for job openings, manage resumes and applications, and track interviews.</p>

  <div class="space-x-4 mb-8">
    <%= link_to "Sign in", new_session_path, class: "bg-blue-600 text-white px-4 py-2 rounded-md hover:bg-blue-700" %>
    <%= link_to "Sign up", new_hunter_path, class: "bg-green-600 text-white px-4 py-2 rounded-md hover:bg-green-700" %>
  </div>
</div>